<h1>The Basics</h1>

<p>Hello</p>

<!-- <app-test></app-test> -->

<!-- <div class="app-test"></div> -->

<h1>{{message}}</h1>
<div app-test ></div>
<div class="app-binding"></div>
<div class="app-template-reference-variables-andtwo-way-binding"></div>
<app-template-reference-variables-andtwo-way-binding></app-template-reference-variables-andtwo-way-binding>
<app-structural-directives (childEvent)="message = $event" [parentData]="name" [lastName]="lastName"></app-structural-directives>

<h4>This is the data coming from child "{{message}}"</h4>


<app-pipes></app-pipes>


<input type="text" #name/>
<button (click)="inputfield(name.value)">Name</button>